---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

	</div>

</section>

<!-- yavorg change --> 
<section class="single">
	<div class="wrap" id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
	this.page.url = '{{ site.url }}{{ page.url }}'; 
	this.page.identifier = '{{ page.url }}'; 
	};
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://hashtagfail.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>

